<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

	<env-entry>
	    <env-entry-name>properties/slide.basepath</env-entry-name>
	    <env-entry-type>java.lang.String</env-entry-type>
	</env-entry>

	<!-- The IWSlideAuthenticator Filter -->
	<filter>
		<filter-name>IWSlideAuthenticator</filter-name>
		<filter-class>
			com.idega.slide.authentication.IWSlideAuthenticator
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>IWSlideAuthenticator</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Definition and configuration of Slide's WebDAV servlet mapped to scope /files -->
	<servlet>
		<display-name>Slide DAV Server</display-name>
		<servlet-name>webdav</servlet-name>
		<servlet-class>
			com.idega.slide.webdavservlet.WebdavExtendedServlet
		</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>autodetect</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>webdav</servlet-name>
		<url-pattern>/content</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>webdav</servlet-name>
		<url-pattern>/content/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>webdav</servlet-name>
		<url-pattern>/content/*</url-pattern>
	</servlet-mapping>

</web-app>